<% contacts = Contact.all%>


<ul>
<p>
  <% for contact in contacts %> 
  <p> <%= contact["first_name"] %>
  <%= contact["last_name"] %> 
  <% company = Company.find_by({"id" => contact["company_id"]})%>
  <% company_name = company["name"]%>
  <%= company_name %> 
  </p>
  <% end %> 
</p>
</ul>




