
## new index for dice 

<h1>Tacos!</h1>

<p>There are so many tacos</p>

<% fillings = ["Carnitas","Pescado","Al Pastor"]%>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>